/* EXPORT CSS : 
Couleurs primitives :  */
/* ._color-primitives - Light */
:root {
  --red-100: #D8CDD0;
  --red-200: #B19BA1;
  --red-300: #8B6972;
  --red-400: #643743;
  --red-500: #3D0514;
  --red-600: #310410;
  --red-700: #25030C;
  --red-800: #180208;
  --red-900: #0C0104;
  --pink-100: #FFE6EE;
  --pink-200: #FFCCDD;
  --pink-300: #FFB3CD;
  --pink-400: #FF99BC;
  --pink-500: #FF80AB;
  --pink-600: #CC6689;
  --pink-700: #994D67;
  --pink-800: #663344;
  --pink-900: #331A22;
  --beige-100: #FFFAF2;
  --beige-200: #FFF6E6;
  --beige-300: #FFF1D9;
  --beige-400: #FFEDCD;
  --beige-500: #FFE8C0;
  --beige-600: #CCBA9A;
  --beige-700: #998B73;
  --beige-800: #665D4D;
  --beige-900: #332E26;
  --green-100: #D3E8CE;
  --green-200: #A6D09D;
  --green-300: #7AB96C;
  --green-400: #4DA13B;
  --green-500: #218A0A;
  --green-600: #1A6E08;
  --green-700: #145306;
  --green-800: #0D3704;
  --green-900: #071C02;
  --green-900-2: #071C02;
  --grey-0: #FFFFFF;
  --grey-50: #F6F6F6;
  --grey-100: #ECECEC;
  --grey-150: #E3E3E3;
  --grey-200: #DADADA;
  --grey-300: #C7C7C7;
  --grey-400: #B5B5B5;
  --grey-500: #A2A2A2;
  --grey-600: #828282;
  --grey-700: #616161;
  --grey-800: #414141;
  --grey-850: #313131;
  --grey-900: #202020;
  --grey-950: #101010;
  --grey-1000: #000000;
}
/* sizing primitives :  */
/* ._sizing-primitives - Mode 1 */
:root {
  --sizing-positive-0: 0em;
  --sizing-positive-006: 0.06em;
  --sizing-positive-0125: 0.125em;
  --sizing-positive-025: 0.25em;
  --sizing-positive-0375: 0.375em;
  --sizing-positive-05: 0.5em;
  --sizing-positive-075: 0.75em;
  --sizing-positive-1: 1em;
  --sizing-positive-125: 1.25em;
  --sizing-positive-15: 1.5em;
  --sizing-positive-175: 1.75em;
  --sizing-positive-2: 2em;
  --sizing-positive-25: 2.5em;
  --sizing-positive-275: 2.75em;
  --sizing-positive-3: 3em;
  --sizing-positive-325: 3.25em;
  --sizing-positive-35: 3.5em;
  --sizing-positive-4: 4em;
  --sizing-positive-425: 4.25em;
  --sizing-positive-45: 4.5em;
  --sizing-positive-475: 4.75em;
  --sizing-positive-5: 5em;
  --sizing-negative-006: -0.06em;
  --sizing-negative-0125: -0.125em;
  --sizing-negative-025: -0.25em;
  --sizing-negative-0375: -0.375em;
  --sizing-negative-05: -0.5em;
  --sizing-negative-075: -0.75em;
  --sizing-negative-1: -1em;
  --sizing-negative-125: -1.25em;
  --sizing-negative-15: -1.5em;
  --sizing-negative-175: -1.75em;
  --sizing-negative-2: -2em;
  --sizing-negative-25: -2.5em;
  --sizing-negative-275: -2.75em;
  --sizing-negative-3: -3em;
}
/* text primitives :  */
/* ._Text-primitives - Mode 1 */
:root {
  --Font-Heading: Dongle, sans-serif;
  --Font-Body: Dongle, sans-serif;
}
/* couleurs tokens :  */
/* Colors - Light */
:root {
  --background-default: var(--grey-0);
  --bg-shapes-primary: var(--red-500);
  --bg-shapes-secondary: var(--red-100);
  --border-buttons-error-error: var(--);
  --border-buttons-primary-default: var(--green-200);
  --border-buttons-primary-hover: var(--green-400);
  --border-buttons-primary-active: var(--green-500);
  --border-buttons-secondary-default: var(--green-200);
  --border-buttons-secondary-hover: var(--green-300);
  --border-buttons-secondary-active: var(--green-300);
  --border-neutral: var(--grey-950);
  --border-inverted: var(--grey-100);
  --border-beige: var(--beige-700);
  --border-chips-brown-default: var(--beige-600);
  --border-chips-brown-hover: var(--beige-700);
  --border-chips-brown-selected: var(--beige-800);
  --border-chips-pink-default: var(--pink-200);
  --border-chips-pink-hover: var(--pink-400);
  --border-chips-pink-selected: var(--pink-500);
  --border-chips-red-default: var(--red-200);
  --border-chips-red-hover: var(--red-400);
  --border-chips-red-selected: var(--red-500);
  --border-states-active: var(--red-300);
  --border-states-default: var(--red-100);
  --border-states-disabled: var(--grey-200);
  --border-states-error: var(--red-500);
  --border-states-hover: var(--red-200);
  --border-red: var(--red-500);
  --border-pink: var(--pink-600);
  --border-states-information: var(--beige-600);
  --border-states-success: var(--green-200);
  --text-brand: var(--pink-600);
  --surface-default: var(--grey-100);
  --surface-buttons-primary-default: var(--green-200);
  --surface-buttons-primary-hover: var(--green-400);
  --surface-buttons-primary-active: var(--green-500);
  --surface-buttons-secondary-default: var(--grey-50);
  --surface-buttons-secondary-hover: var(--green-100);
  --surface-buttons-secondary-active: var(--green-300);
  --surface-chips-red-default: var(--red-200);
  --surface-states-active: var(--grey-100);
  --surface-states-default: var(--grey-100);
  --surface-states-disabled: var(--grey-100);
  --surface-states-error: var(--red-200);
  --surface-states-hover: var(--grey-100);
  --surface-states-information: var(--beige-600);
  --surface-states-selected: var(--red-100);
  --surface-states-success: var(--green-600);
  --surface-chips-red-hover: var(--red-400);
  --surface-chips-red-selected: var(--red-500);
  --surface-chips-pink-default: var(--pink-200);
  --surface-chips-pink-hover: var(--pink-400);
  --surface-chips-pink-selected: var(--pink-500);
  --surface-chips-Brown-default: var(--beige-600);
  --surface-chips-Brown-hover: var(--beige-700);
  --surface-chips-Brown-selected: var(--beige-800);
  --surface-light-beige: var(--beige-200);
  --surface-beige: var(--beige-500);
  --surface-red: var(--red-100);
  --icon-default: var(--grey-950);
  --icon-disabled: var(--grey-500);
  --icon-on-surface-default: var(--grey-950);
  --icon-on-surface-disabled: var(--grey-500);
  --icon-on-surface-inverted: var(--grey-50);
  --icon-on-surface-beige: var(--beige-600);
  --icon-on-surface-red: var(--red-500);
  --icon-on-surface-pink: var(--pink-600);
  --icon-on-surface-error: var(--red-500);
  --icon-on-surface-information: var(--beige-600);
  --icon-on-surface-success: var(--green-600);
  --icon-inverted: var(--grey-50);
  --icon-beige: var(--beige-600);
  --icon-red: var(--red-500);
  --icon-pink: var(--pink-600);
  --icon-error: var(--red-500);
  --icon-information: var(--beige-600);
  --icon-success: var(--green-600);
  --text-default: var(--grey-950);
  --text-disabled: var(--grey-500);
  --text-error: var(--red-500);
  --text-information: var(--beige-600);
  --text-inverted: var(--grey-50);
  --text-success: var(--green-600);
  --text-warning: var(--red-300);
  --text-link-default: var(--green-500);
  --text-link-visited: var(--green-700);
  --text-on-surface-default: var(--grey-950);
  --text-on-surface-disabled: var(--grey-500);
  --text-on-surface-error: var(--red-500);
  --text-on-surface-inverted: var(--grey-50);
  --text-on-surface-information: var(--beige-300);
  --text-on-surface-success: var(--green-600);
  --text-on-surface-brand: var(--pink-600);
  --surface-elevation-beige: #665D4DA6;
  --surface-elevation-grey: #202020A6;
  --surface-elevation-black: #101010A6;
}
 
/* sizing tokens :  */ 
/* sizing - Mode 1 */
:root {
  --spacing-positive-empty: var(--sizing-positive-0);
  --spacing-positive-xxxs: var(--sizing-positive-0125);
  --spacing-positive-xxs: var(--sizing-positive-025);
  --spacing-positive-xs: var(--sizing-positive-0375);
  --spacing-positive-sm: var(--sizing-positive-05);
  --spacing-positive-m: var(--sizing-positive-075);
  --spacing-positive-md: var(--sizing-positive-1);
  --spacing-positive-lg: var(--sizing-positive-15);
  --spacing-positive-xl: var(--sizing-positive-2);
  --spacing-positive-xxl: var(--sizing-positive-25);
  --spacing-positive-xxxl: var(--sizing-positive-3);
  --border-default: var(--sizing-positive-0125);
  --border-focused: var(--sizing-positive-0125);
  --border-selected: var(--sizing-positive-025);
  --radius-square: var(--sizing-positive-0);
  --radius-xs: var(--sizing-positive-0125);
  --radius-s: var(--sizing-positive-025);
  --radius-m: var(--sizing-positive-05);
  --radius-lg: var(--sizing-positive-075);
  --radius-round: var(--sizing-positive-5);
  --spacing-negative-xxxs: var(--sizing-negative-0125);
  --spacing-negative-xxs: var(--sizing-negative-025);
  --spacing-negative-xs: var(--sizing-negative-0375);
  --spacing-negative-sm: var(--sizing-negative-05);
  --spacing-negative-m: var(--sizing-negative-075);
  --spacing-negative-md: var(--sizing-negative-1);
  --spacing-negative-lg: var(--sizing-negative-15);
  --spacing-negative-xl: var(--sizing-negative-2);
  --spacing-negative-xxl: var(--sizing-negative-25);
  --spacing-negative-xxxl: var(--sizing-negative-3);
}
/* Font tokens :  */
/* font - px */
:root {
  --Heading-XXL: var(--sizing-positive-4);
  --Heading-XL: var(--sizing-positive-35);
  --Heading-L: var(--sizing-positive-325);
  --Heading-M: var(--sizing-positive-3);
  --Heading-S: var(--sizing-positive-25);
  --Heading-XS: var(--sizing-positive-2);
  --Body-m: var(--sizing-positive-15);
  --Body-sm: var(--sizing-positive-125);
  --Body-s: var(--sizing-positive-1);
  --Weight-Bold: 700;
  --Weight-Regular: 400;
  --Weight-Light: 300;
  --height-Heading: var(--sizing-positive-175);
  --height-Body: var(--sizing-positive-1);
  --Family-Heading: var(--Family-Heading);
  --Family-Body: var(--Family-Body);
}